
  
  {% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
 
  <!--start wrapper-->
  <div class="wrapper">
     
       <!--start content-->
       <main class="authentication-content"> 
        <div class="container-fluid">
          <div class="authentication-card">
            <div class="card shadow rounded-0 overflow-hidden">
              <div class="row g-0">
                <div class="col-lg-6 d-flex align-items-center justify-content-center border-end">
                  <img src="{{asset('build/images/error/forgot-password-frent-img.jpg')}}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title">Genrate New Password</h5>
                    <p class="card-text mb-5">We received your reset password request. Please enter your new password!</p>
                    {{ form_start(resetForm,{'attr': {'class': 'form-body'}}) }}
                        <div class="row g-3">
                          <div class="col-12">
                            {{ form_label(resetForm.plainPassword.first) }}
                            <div class="ms-auto position-relative">
                              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                              {{ form_widget(resetForm.plainPassword.first,{'attr': {'class': 'form-control radius-30 ps-5'}}) }}
                            </div>
                          </div>
                          <div class="col-12">
                           {{ form_label(resetForm.plainPassword.second) }}
                            <div class="ms-auto position-relative">
                              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                              {{ form_widget(resetForm.plainPassword.second,{'attr': {'class': 'form-control radius-30 ps-5'}}) }}
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="d-grid gap-3">
                              <button type="submit" class="btn btn-primary radius-30">Change Password</button>
							  <button type="submit" class="btn btn-light radius-30">Back to Login</button>
                            </div>
                          </div>
                        </div>
                  {{ form_end(resetForm) }}
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </main>
        
       <!--end page main-->

  </div>
  <!--end wrapper-->

{% endblock %}
 {% block javascripts %}
            {{ encore_entry_script_tags('app') }} 
    {% endblock %}